<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{
            height: 25px;
            font-size: 14px;
            padding:0 10px 0 10px;
            text-align: center;

        }
    </style>
</head>
<body>
        <center>
            <p th:text="${msg}" th:if="${not #lists.isEmpty(msg)}" style="color: red;"></p>
            <form th:action="@{/emp}" method="post">
                <input type="text" name="username" placeholder="请输入用户名"  autocomplete="off"><br><br>
                <input type="password" name="password" placeholder="请输入密码.."  autocomplete="off"><br><br>
                <input type="submit" th:value="提交" >
            </form>
        </center>
</body>
</html>